<li class="account">
  <div class="picture">
    <div class="image-wrapper">
      <% if account.has_picture? -%>
        <%= image_tag "people/lines/#{account.username}.png" -%>
      <% else -%>
        <%= image_tag "people/lines/fox#{@fox_count}.png" -%>
        <% @fox_count = @fox_count % 3 + 1 -%>
      <% end -%>
    </div>
  </div>

  <div class="name">
      <span class="username"><%= account.username -%></span>

      <span class="nicknames">
        <% [account.names, account.nicks].flatten.slice(0,5).each do |name| -%>
          <span class="nick">
            <small>AKA</small>
            &ldquo;<%= name.value -%>&rdquo;
          </span>
        <% end -%>
      </span>
    </div>
  </div>

  <div class="sites">
    <%= render :partial => 'site', :collection => account.sites -%>
    <span class="books">
      <% if account.books.present? -%>
        Books: &nbsp;
        <% account.books.each_with_index do |book, i| %>
          <a href="http://www.amazon.<%= book.key.match(/^4/) ? "co.jp":"com" %>/dp/<%= book.key %>"><%= i + 1 -%></a> &nbsp;
        <% end %>
      <% end -%>
    </span>
  </div>

  <div class="services">
    <%= render :partial => 'service', :collection => account.services -%>
  </div>

  <div style="clear: both;"></div>
</li>
